<!-- Fill in this file to create a UI view for editing listing entries. -->
<div class="row" ng-controller="ListingsController" ng-init="findOne()">
  <div class="col-md-offset-1 col-md-10 formWrapper">
    <div class="page-header">
      <h3>Edit listings</h3>
  <div ng-show = "listing">
  <h3>Edit {{listing.name}}</h3>
   <form name="listingForm" class="form-horizontal" ng-submit="edit(listingForm.$valid)">
    <div class="form-group">
      <label for="Name">Name</label>
      <input name="name" type="text" ng-model="listing.name" id="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input name="address" type="text" ng-model="listing.address" id="address" class="form-control">
    </div>
    <div class="form-group">
      <label for="code">Code</label>
      <input name="code" type="text" ng-model="listing.code" id="code" class="form-control">
    </div>
    <button type="submit" ng-click = "update(listingForm.$valid)" class="btn btn-default">change</button>
   </form>
  </div>
    </div>
  </div>
</div>
